LOCATE COMP "clk_uart" SITE "A10";
IOBUF PORT "clk_uart" IO_TYPE=LVCMOS33;
LOCATE COMP "clk" SITE "B11";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "A13";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "led[1]" SITE "A12";
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "led[2]" SITE "B19";
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "led[3]" SITE "A18";
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "led[4]" SITE "B18";
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "led[5]" SITE "C17";
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "led[6]" SITE "A17";
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "led[7]" SITE "B17";
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "resetn" SITE "N20"; //raspberry pi header (JP8) pin 10 - should always be 0 if nothing plugged in
IOBUF PORT "resetn" IO_TYPE=LVCMOS33;

LOCATE COMP "RS232_Rx" SITE "P2";
LOCATE COMP "RS232_Tx" SITE "P3";

IOBUF PORT "RS232_Rx" IO_TYPE=LVCMOS33;
IOBUF PORT "RS232_Tx" IO_TYPE=LVCMOS33;

LOCATE COMP "recv" SITE "U16"; //raspberry pi header (JP8) pin 5
LOCATE COMP "Block" SITE "R16"; //raspberry pi header (JP8) pin 7
//LOCATE COMP "Block" SITE "U17"; //raspberry pi header (JP8) pin 7
LOCATE COMP "Sync" SITE "P18"; //raspberry pi header (JP8) pin 8
LOCATE COMP "Pulse" SITE "R20"; //raspberry pi header (JP8) pin 11
//LOCATE COMP "Pulse" SITE "N19"; //raspberry pi header (JP8) pin 11

IOBUF PORT "Sync" IO_TYPE=LVCMOS33;
IOBUF PORT "Pulse" IO_TYPE=LVCMOS33;
IOBUF PORT "Block" IO_TYPE=LVCMOS33;
IOBUF PORT "recv" IO_TYPE=LVCMOS33;
