LOCATE COMP "clk" SITE "B11";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "resetn" SITE "G2";
IOBUF PORT "resetn" IO_TYPE=LVCMOS33;

LOCATE COMP "RS232_Rx" SITE "P3";
LOCATE COMP "RS232_Tx" SITE "P2";

IOBUF PORT "RS232_Rx" IO_TYPE=LVCMOS33;
IOBUF PORT "RS232_Tx" IO_TYPE=LVCMOS33;

LOCATE COMP "Sync" SITE "H20";
LOCATE COMP "Pulse" SITE "G19";
LOCATE COMP "P2" SITE "K18";

IOBUF PORT "Sync" IO_TYPE=LVCMOS33;
IOBUF PORT "Pulse" IO_TYPE=LVCMOS33;
IOBUF PORT "P2" IO_TYPE=LVCMOS33;
